* {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

header {
    height: 70px;
    background-color: rgb(107, 132, 156);    
}
#signup-link{
    font-size: 1.1rem;
}

.logo {
    height: 70px;
    width: 100px;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.search {
    min-width: 400px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#searchbar {
    border: none;
    height: 35px;
}

.search-label img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sign-up{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
}
.sign-up a{
    text-decoration: none;
    color: #fff;
}

#home li:hover{
    transform: scale(1.1);
}
.sign-up a:hover{
    transform: scale(1.1);
}

.product-section{
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 228, 241); 
}

.category-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 40px; */
    padding: 0 5%;
}
.category-display h1{
    padding-top:30px;
}
#category{
    height:30px;
    border: none;
    background-color: aliceblue;
    border-radius: 10px;
}

.all-products{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding-top: 50px;
    background-color: rgb(212, 228, 241); 
    padding:50px 10px 0 10px;

}

.product-card{
    max-width: 300px;
    background-color:#fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.prod-image{
    width: 100%;
}

.prod-image img{
    width: 100%;
    height: 180px;
    object-fit: scale-down;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-card .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    padding: 25px;
}
.product-card .info .prod-description{
    font-size: 0.8rem;
    color: rgb(114, 110, 110);
}

.product-card .info .prod-price{
    font-size: 2rem;
}

.prod-rating span:nth-child(2){
    color:rgb(233, 121, 47);
}
.prod-price span{
    font-size:1.5rem;
}

.product-card:hover{
    cursor: pointer;
}
.loading {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
  }
  
  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

.single-product{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.back{
    border: none;
    height:30px;
    text-transform: capitalize;
    width: 60px;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 10px ;
    margin-bottom: 10px;
}

.back:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.single-prod-image{
    box-sizing: border-box;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-prod-image img{
    width: 70%;
    height: fit-content;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.single-prod-details{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    padding-top: 10%;
}

.single-prod-details .single-prod-rating span:nth-child(even){
    color:rgb(233, 121, 47);
}

.single-prod-price{
    font-size: 2rem;
}
.single-prod-price span{
    font-size: 1.3rem;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(107, 132, 156);    
    height: 100px;
    justify-content: center;
    align-items: center;
}
.reach-us a{
    text-decoration: none;
    color: black;
}
footer p{
    padding-top: 10px;
    text-align: center;
}



/* signup page styling */
#signup-section{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height:80vh;
    width:100vw;
    background-color: rgb(212, 228, 241);
}

#signup-section > h1{
    height: 40px;
    background-color: #fff;
}

#signup-div{
    
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
/* #signedup-message{
    padding-top: 20px;
} */
#create-account h1{
    font-size: 2rem;
    color: rgb(44, 43, 43);
}
#signup-form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width:fit-content;
    padding: 50px 0;
    align-items: center;
}

#signup-form div{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
}
#signup-form div label{
    align-self: flex-start;
}

.input-field{
    width:100%;
    min-height:30px;
    border-style: none;
    border: 1px solid rgb(135, 153, 168);
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2px;
    
}
.input-field:focus{
    outline: none;
}

#terms-conditions-div{
    display: flex;
    flex-direction: row;
}

#terms-conditions-div input{
    max-height:20px;
    max-width:20px;
}

#signup{
    width: 120px;
    height: 40px;
    align-self: center;
    padding: 2px;
    outline: none;
    font-size: 1rem;
    background-color: rgb(33, 201, 33);
    color: white;
    border: none;
    text-transform: capitalize;
}

#signup-form div span{
    align-self: flex-start;
    padding-bottom:20px ;
    /* display:none; */
    visibility: hidden;
    font-size: 0.8rem;
}


@media (max-width:550px) {

    .logo {
        height: 70px;
        min-width: 100px;
    }

    nav {
        display: flex;
        height: 100%;
        justify-content: space-between;
        width: 100%;
    }
    .search-label{
        height: 30px;
    }

    .search {
        display: flex;
        justify-content: center;
        min-width:30px;
        align-self: flex-end;
    }

    #searchbar {
        display: none;
    }

    .search-label img {
        height: 100%;
        min-width: 40px;
        object-fit: contain;
    }

    .category-display{
        min-height: 50px;
    }
    #category {
        display:none;
    }
}

@media (max-width:360px){
    #signup-form div{
        width:250px;
    }
    #signup-form div input{
        width:250px;
        min-height:30px;
        border-style: none;
        border: 1px solid rgb(135, 153, 168);
        background-color: aliceblue;
        border-radius: 5px;
        padding: 2px;
    }

    #terms-conditions-div{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width:780px){
    .single-product{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:0;
    }
    .single-prod-image{
        width:100%;
        max-height:100%;
    }
    .single-prod-image img{
        max-width:100%;
        max-height:100%;
        object-fit: cover;
    }
    .single-prod-details{
        padding: 10%;
    }
}